.dialog {
  width: 500px;
  height: 300px;
  display: block;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 1px 1px 2px #ccc; -moz-box-shadow: 1px 1px 2px #ccc; box-shadow: 1px 1px 2px #ccc;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -250px;
  z-index: 1;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
}
.dialog.hide {
  display: none;
}
.shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .6;
  filter: alpha(opacity = 60);
  z-index: 0;
  background: #fbfbfb;
}
